src/main/mule/filetest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9c60158a-7336-494f-bc32-563ba397fec4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="1c2941a0-41cd-4a11-9c26-381bfef33107" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="filetestFlow" doc:id="78e4e3e0-6841-47b6-a98b-111765fed50f" >
		<http:listener doc:name="Listener" doc:id="9c3c8642-fa6d-467a-a7ee-6d51a7b2574d" config-ref="HTTP_Listener_config" path="/timezone"/>
		<logger level="INFO" doc:name="Logger" doc:id="ceeba57c-adbc-4565-8c30-ced44ef62a4c" message="#[[
	attributes.queryParams.city,
	attributes.queryParams.region
	]]"/>
		<http:request method="GET" doc:name="Request" doc:id="6c0c65ec-7f60-4a6d-a815-16a4069ca9ce" config-ref="HTTP_Request_configuration" path="/api/timezone/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city :attributes.queryParams.city,
	region : attributes.queryParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
